$transwhite : rgba(255,255,255,.95);


body{
  background: url('https://s3.amazonaws.com/myfangate.com/ashestour/ashesbackground.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Tinos', serif;
  p,a,h1,h2,h3,h4{
  color: black !important;
  }
  h2,h3{
    letter-spacing: 20px;
  }
}
#overflow-hider{
  width:360px;
  padding-top:52px;
  height:312px;
  overflow:hidden;
  margin: 0 auto;
}
#contest{
  padding: 50px 0; 
}

#contesthead{
  letter-spacing: 12px;
  max-width: 800px;
  margin: 0 auto;
}

.text-center{
  text-align: center;
}

.divider{
  width: 100%;
  max-width: 720px;
  height: 2px;
  background-color: black;
  margin: 0 auto;
}

.whiteglowimg{
  -webkit-filter: drop-shadow(0px 0px 10px #fff);
   filter: drop-shadow(0px 0px 10px #fff);
}

.whiteglowtxt{
  text-shadow: 0px 0px 10px #fff;
}

.img-100{
  width: 100%;
}

.padded-row{
  padding: 20px 0 20px 0;
}

//Masthead Styles//

#headliners{
  margin-top: -30px;
  img{
    margin-top: -30px;
  }
}

#support{
  .band{
    img{
      margin-top: -50%;
    }
  }
}

//FANGATE PLACEHOLDER//
.fangate-placeholder{
  padding-top: 100px;
}

//CTA & Contest Section Styles//

#call-to-action, #contest, #join{
  width: 100%;
  border-top: 5px solid black !important;
  border-bottom: 5px solid black !important;
  background-color: $transwhite;
  margin: 25px 0 25px 0;
}

#contest{
  background-color: #fff;
}

.prize{
  padding: 20px 0 20px 0;
}

//TOURDATES//

#dates{
  h1{

  }
  ul{
    padding: 0 10px 0 10px
  }
  li{
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
    border-bottom:1px solid #000;
    div{
      height: 40px;
    }
    .date{
      float: left;
      padding: 6px 12px;
    }
    .ticket{
      float: right;
    }
  }
}
// jOIN //
#join{
  .divider{
    margin-bottom: 20px;
  }
  #twitter-widget-0{
    width: 100% !important;
  }
}


//footer//
#footer{
  .footercircle{
    color: white !important;
     -webkit-text-stroke-width: 4px;
     -webkit-text-stroke-color: black;
     font-size: 70px;
     padding-top: 18px;
  }
  .inner{
    font-size: 40px;
  }
  .gram{
    margin-top: -3px;
  }
  .col-lg-8 img{
    padding: 30px 0 30px 0;
  }
}
