<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x footercircle"></i>
          <i class="fa fa-facebook fa-stack-1x inner"></i>
        </span>
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x footercircle"></i>
          <i class="fa fa-twitter fa-stack-1x inner"></i>
        </span>
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x footercircle"></i>
          <i class="fa fa-instagram fa-stack-1x inner gram"></i>
        </span>                
      </div>
      <div class="col-lg-8 text-center">
        <img src="https://s3.amazonaws.com/myfangate.com/ashestour/artery.png">
        <img src="https://s3.amazonaws.com/myfangate.com/ashestour/razor.png" width="130px">
        <img src="https://s3.amazonaws.com/myfangate.com/ashestour/sumerian.png">
        <img src="https://s3.amazonaws.com/myfangate.com/ashestour/impericon.png" width="130px">
        <img src="https://s3.amazonaws.com/myfangate.com/ashestour/avocado.png" width="130px">
        <img src="https://s3.amazonaws.com/myfangate.com/ashestour/monster.png">
        <img src="https://s3.amazonaws.com/myfangate.com/ashestour/fearless.png">
      </div>
    </div>
  </div>
</section>
