<section id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center whiteglowtxt">
        <h2>THE ASHES TO ASHES TOUR 2015</h2>
      </div>
      <div class="col-lg-12 text-center">
        <img class="img-responsive whiteglowimg" src="https://s3.amazonaws.com/myfangate.com/ashestour/headliners.png">
      </div>
    </div>
  </div>
</section>
