<section id="masthead">
  <div class="container">
    <div id="headliners" class="row">
      <div class="col-lg-12 text-center whiteglowtxt">
        <h2>THE ASHES TO ASHES TOUR 2015</h2>
      </div>
      <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 col-xs-6 text-center">
        <img class="img-100 whiteglowimg" src="https://s3.amazonaws.com/myfangate.com/ashestour/chelseagrin.png">
      </div>
      <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 text-center">
        <img class="img-100 whiteglowimg" src="https://s3.amazonaws.com/myfangate.com/ashestour/veilofmaya.png">
      </div>
    </div>
    <div id="support" class="row">
      <div class="whiteglowimg band col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 col-xs-3 col-xs-offset-3">
        <img class="img-100" src="https://s3.amazonaws.com/myfangate.com/ashestour/blacktongue.png">
      </div>
      <div class="band col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <img class="img-100" src="https://s3.amazonaws.com/myfangate.com/ashestour/oaa.png">
      </div>
    </div>
  </div>
</section>
