<section id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center whiteglowtxt">
        <h2>THE ASHES TO ASHES TOUR 2015</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
        <img class="img-100 whiteglowimg" src="https://s3.amazonaws.com/myfangate.com/ashestour/chelseagrin.png">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
        <img class="img-100 whiteglowimg hidden-xs" src="https://s3.amazonaws.com/myfangate.com/ashestour/veilofmaya.png">
        <img class="img-100 whiteglowimg visible-xs veilphone" src="https://s3.amazonaws.com/myfangate.com/ashestour/veilofmaya2.png">
      </div>
    </div>
  </div>
</section>
