---
title: The Ashes To Ashes Tour 2015
---

<section id="contest">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 id="contesthead">ENTER TO WIN A PRIZE BUNDLE FROM THE TOUR</h3>
      </div>
      <div class="col-lg-12">
        <div class="divider"></div>
      </div>
      <div class="col-lg-3 col-lg-offset-2 col-md-6 col-md-offset-0 col-sm-12 col-xs-12 col-xs-offset-0 text-center">
        <%= partial "partials/contest" %>
      </div>
      <div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 prize text-center">
        <img class="img-100" src="https://s3.amazonaws.com/myfangate.com/ashestour/prizes-web.png">
      </div>
    </div>
  </div>
</section>
